* {
    margin: 0;
    padding: 0;
    border: none;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: black;
    font-family: "Annapurna SIL", serif;
}

/* Background image */

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25vh;
    width: 100vw;
    display: block;
}

/* headings */

.headings {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    margin-right: 20px;

}

.headings h1 {
    font-family: 'Love Plants', sans-serif;
    font-size: 8vw;
    overflow-y: hidden;
}

.headings h2 {
    font-family: "Annapurna SIL", serif;
    overflow-y: hidden;
}

h1 {
    color: #66661F;
}

.category-headings {
    font-family: "Love Plants", serif;
    overflow-y: hidden;
    text-align: center;
    margin-top: 10px;
}

.category-headings h2{
    font-size: 8vw;
    color: #66661F;
    overflow: hidden;
}

.projects h3 {
    font-family: "Love Plants", serif;
    font-size: 4vw;
    color: #66661F;
    margin: auto;
    overflow-y: hidden;
}

/* Icons and nav links */

i {
    margin: 10px 20px;
    color: black;
    overflow: hidden;
}

.nav-link {
    color: black !important;
    font-family: "Annapurna SIL", serif;
    margin-left: 10px;
}

/* Change display on larger screens */
@media(min-width:992px){
    .image-container img{
        height: 70vh;
    }
    .headings h1 {
        font-size: 4vw;
    }
    .category-headings h2 {
        font-size: 4vw;
    }
}

/* about */
.category-info {
    background-color: #EFEFEF;
    text-align: center;
    font-family: "Annapurna SIL", serif;
}

/* Skills */

.skill-section {
    text-align: center;
    background-color: #EFEFEF;
}

.skill-logos {
    max-width: 100px;
    max-height: 100px;
    padding: 10px;
    margin: 10px;
}

/* footer */
footer {
    text-align: center;
}

/* Project Page */

.projects{
    display: flex;
    flex-flow: wrap;
    align-content: center;
}

.projects img{
    max-width: 80vw;
    margin: 10px auto;
}

.projects p {
    font-family: "Annapurna SIL", serif;
    margin: auto;
}

/* large screen project page */
@media(min-width:992px){
    .projects{
        display: flex;
        flex-flow: wrap;
        align-content: center;
    }

    .projects img{
        max-width: 40vw;
        margin: 10px auto;
    }
}

