* {
    margin: 0;
    padding: 0;
    border: none;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: black;
    font-family: "Annapurna SIL", serif;
}

a:hover {
    color:#66661F;
}

h3 {
    overflow-y: hidden;
}

/* Background image */

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25vh;
    width: 100vw;
    display: block;
}

/* hide class for JS */

.hide {
    display: none;
}

/* headings */

.headings {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    margin-right: 20px;

}

.headings h1 {
    font-family: 'Love Plants', sans-serif;
    font-size: 8vw;
    overflow-y: hidden;
}

.headings h2 {
    font-family: "Annapurna SIL", serif;
    overflow-y: hidden;
}

h1 {
    color: #66661F;
}

.category-headings {
    font-family: "Love Plants", serif;
    overflow-y: hidden;
    text-align: center;
    margin-top: 10px;
}

.category-headings h2{
    font-size: 8vw;
    color: #66661F;
    overflow: hidden;
}

.projects h3 {
    font-family: "Love Plants", serif;
    font-size: 8vw;
    color: #66661F;
    margin: 5px auto;
}

/* Icons and nav links */

i {
    margin: 10px 20px;
    color: black;
    overflow: hidden;
}

.nav-link {
    color: black !important;
    font-family: "Annapurna SIL", serif;
    margin-left: 10px;
}


/* Change display on larger screens */
@media(min-width:992px){
    .image-container img{
        height: 70vh;
    }
    .headings h1 {
        font-size: 4vw;
    }
    .category-headings h2 {
        font-size: 4vw;
    }

    .profile-image{
        height:20vh;
        width: 20vw;
        border-radius: 50%;
        float: left;
    }

}

/* about */
.category-info {
    background-color: #EFEFEF;
    text-align: center;
    font-family: "Annapurna SIL", serif;
    width: 100vw;
    padding: 20px;
}

.profile-image{
    height: 45vh;
    width: 75vw;
    border-radius: 50%;
    border:1px solid #66661F;
}


@media(min-width:992px){
    .profile-image{
        height:40vh;
        width: 20vw;
        border-radius: 50%;
        float: left;
    }
}

/* Skills */

.skill-section {
    text-align: center;
    background-color: #EFEFEF;
}

.skill-logos {
    max-width: 100px;
    max-height: 100px;
    padding: 10px;
    margin: 10px;
}

/* footer */
footer {
    text-align: center;
}

/* Project Page */

.project-info{
    display: flex;
    flex-flow: wrap;
    align-content: center;
    background-color: #EFEFEF;
    margin: 10px;
    border-radius: 10px;
}

.projects img{
    max-width: 80vw;
    margin: 10px auto;
    border-radius: 5%;
}

.info {
    font-family: "Annapurna SIL", serif;
    margin: auto;
    text-align: center;
    padding: 10px;
}

/* large screen project page */
@media(min-width:992px){

    .projects {
        width: 100vw;
        text-align: center;
    }

    .project-info{
        display: inline-block;
        align-content: center;
        background-color: #EFEFEF;
        height: 85vh;
        width: 30vw;
    }

    .project-info img{
        width: 30vw;
        padding: 10px;
        border-radius: 5%;
    }

    .project-info h3 {
        font-size: 6vh;
        text-align: center;
        overflow-y: hidden;
    }

}

/* Contact Page */

.contact-image-container {
    height: 90vh;
    width: 100vw;
    position: relative;
    display: inline-block;
}

.contact {
    border: 2px #66661F solid;
    padding: 10px;
    border-radius: 10px;
}

.contact-image-container img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: block;
}

.contact-form {
    margin: auto;
    width: 80vw;
}

.contact-heading {
    text-align: center;
    color:#66661F;
}

.send-button{
    background-color: #66661F;
}

@media(min-width: 992px) {
    .contact-form {
        width: 50vw;
    }
}