* {
    margin: 0;
    padding: 0;
    border: none;
    overflow-x: hidden;
}

h1{
    font-family: 'Love Plants', sans-serif;
}

/* Background image */

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25vh;
    width: 100vw;
    display: block;
}

.headings {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    margin-right: 20px;

}

.headings h1 {
    overflow-y: hidden;
}

.headings h2 {
    overflow-y: hidden;
}

/* Change display of background image on larger screens */
@media(min-width:992px){
    .image-container img{
        height: 75vh;
    }
}